# URL API Backend Express
VITE_API_URL=https://api.kingcreativestudio.my.id/rekap-pertanian/api

# URL Static Uploads (jika dipisah/menggunakan domain upload)
VITE_UPLOAD_URL=https://api.kingcreativestudio.my.id/rekap-pertanian/uploads-rekap-pertanian
